* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: rgb(31, 112, 204);
  }

.picture {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(blue, green, yellow);
    background-color: blue;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}




.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
}

.layer h3 a {
    color: white;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.contact {
    text-align: center;
    text-decoration: none;
    color: red;
}